* {
    margin: 0;
    padding: 0;
    border: 2;
}

div.navegacao li, img, i, a {
    padding: 10px;
}


div.navegacao li:hover {
    background-color: rgb(15, 25, 20, 0.1);
    text-decoration: none;
    border-radius: 40px;
}

div.navegacao a:hover {
    text-decoration: none;
}

div.navegacao button {
    border-radius: 40px;
    height: 40px;
    width: 100%;
}

div.listMenus a:hover {
    background-color: rgb(15, 25, 20, 0.1);
    text-decoration: none;
}

div.listMenus a {
    padding-inline: 50px;
    color: black;
}

div .header button {
    max-width: 200px;
    border-radius: 40px;
    height: 40px;
}

div.recentsTzeets a {
    text-decoration: none;
    margin: 0%;
    padding-inline: 50px;
    color: black;
}

div.recentsTzeets a:hover {
    color: red;
}

div.recentsTzeets i {
    padding: 5px;
}

div.recentsTzeets i:hover {
    background-color: rgb(207, 207, 207);
    border-radius: 50%;
}

div.input-group-text {
    width: 320px;
    border-radius: 30px;
}


div.talvezCurta li{
    width: 300px;
    margin: 20px;
}

div.talvezCurta img {
    height: 68px;
    width: 68px;
    border-radius: 50%;
}



div.configuracaoReply a:hover {
    width: 10px;
    background-color: rgb(29, 155, 240);
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

div.multimidea a {
    padding: 5px;
    text-decoration: none;
}

div.multimidea i{
    color: black;
    padding: 10px;

}

div.multimidea i:hover {
    color: white;
    background-color: rgb(29, 155, 240);
    border-radius: 20px;
}

div.statusEnvio i{
    color: black;
    

}

div.statusEnvio i:hover {
    color: white;
    background-color: rgb(29, 155, 240);
    border-radius: 20px;
}