img {
    border-radius: 50%;
}

.navegacao {
    text-decoration: none;
    list-style: none;
}

.estatistica.numero {
    color: rgb(15, 20, 25);
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

.estatistica.texto {
    text-decoration-color: rgb(83, 100, 113);
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

li.navegacao:hover{
    background-color: rgb(15, 25, 20, 0.1);
}

a.publicacao {
    text-decoration: none;
}

